<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="">
    <title>Log index</title>
    <style>
        body {
            background: antiquewhite;
        }
    </style>
</head>
<h1>Registration</h1>
{% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form action="/process" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="alias" placeholder="Alias">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm" placeholder="Confirm Password">
    <input type="submit" value="Register">
</form>
<h2>Log In</h2>
<form action="/log_in" method="post">
    {% csrf_token %}
    <input type="text" name="elog" placeholder="Email">
    <input type="password" name="plog" placeholder="Password">
    <input type="submit" value="Log In">
</form>
</body>
</html>